.social-buttons {
    margin-top: 2px;
    display: inline-block;
    transform: translate(-150%, 18%);
    color: red;
  }

/* ========= MEDIA QUERIES ========== */

@media only screen and (max-width: 600px) {
    
    body {
        overflow-x: hidden;
    }
    
   
    .social-buttons {
        transform: translate(25%, -102%);
        display: flex;
        position: relative;
        width: 80px;
        height: 80px;
        line-height: 180px;
        margin-right: 20px;
    }
}